/*Login.css*/
/* Account Page */

.account-page {
  padding: 10px;
  
  height:610px;
  /* background: radial-gradient(#fff, #dff9fb); */
}
.form-container {
  background: #fff;
  width: 320px;
  height: 350px;

  padding: 20px 0;
  box-shadow:10px 10px 20px 0px rgba(0, 0, 0, 0.5);

}


form input {
  width: 210px;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

#one{
  display: block;
  margin-bottom: 20px;
}
#two{
  margin-right: 68px;
  margin-top: 20px;
  
}
.auth-container{
  background: radial-gradient(#fff, #dff9fb);
  padding: 100px;
  
  height:610px;
}
